<!DOCTYPE html>
<html>
<head>
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1><%= titulo %></h1>
  <p>Bienvenido a tu monolito con Node.js y EJS</p>
</body>
</html>
